@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

.welcome-msg {
  text-align: center;
}

.header {
  height: 25vh;
  background-image:
          linear-gradient(to right bottom, rgba(103, 212, 255, 0.7), rgba(204, 229, 255, 0.7)),
          url("./header-background.jpg");
  background-size: cover;
  background-position: right;
  position: relative;
  color: white;
}

.logo-box {
  position: absolute;
  padding: 0.5rem 1rem;
  animation-name: moveInBottom;
  animation-duration: 1s;
}

.logo{
  position: relative;
  animation: App-logo-spin infinite 20s linear;
  height: 2rem;
}

.text-box{
  position: absolute;
  padding: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

.heading-primary{
  text-transform: uppercase;
  font-size: 1rem;
  color: #194d33;
}

.heading-primary-main{
  display: block;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary-sub{
  display: block;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.App-intro {
  font-size: large;
}

.App-footer {
  text-align: center;
  font-size: 0.6rem;
  bottom: 0;
  width: 100%;
}

.nav-link {
  cursor: pointer
}
