.authors-container {
  text-align: center;
  padding: 3rem;
}

input[type=text] {
  padding: 0.4rem 0.7rem;
  margin: 0.3rem 0;
  box-sizing: border-box;
}

.new-author {
  padding: 0.8rem;
}

.single-author {
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem;
}

.single-author img {
  height: 18rem;
  margin-bottom: 0.8rem;
}

.edit-author {
  padding: 0.7rem;
}

.edit-author-images {
  width: 18rem;
  text-align: center;
  display: flex;
}

.edit-author img {
  height: 100%;
  width: 100%;
  margin-right: 0.3rem;
}

.photo-table img {
  height: 3rem;
  width: 3rem;
}

.btn {
  cursor: pointer;

  &:hover {
    -webkit-transform: scale(1.1);
  }

  &-secondary {
    margin: 1rem;
  }
}
