.dropzone {
  text-align: center;
  position: relative;
  width: 100%;
  height: 8rem;
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  border-width: 2px;
  border-color: rgb(170, 170, 170);
  border-style: dashed;
}

.dropzone--selection {
  background: rgba(170, 170, 170, 0.27);
  position: relative;
}
