.Login {
  text-align: left;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}

